.typing-area
    outline: none
    lineHeight: 1.6
    cursor: text
    userSelect: none
    whiteSpace: pre-wrap

    &__char
        position: relative
        color: #aaa

        &.correct
            color: #4caf50
        &.incorrect
            color: #f44336
            text-decoration: underline
        
    &__cursor
        position: absolute
        left: -2px
        top: 0
        bottom: 0
        width: 3px
        background-color: black
        animation: blink 1s step-start 0s infinite



@keyframes blink
    50%
        opacity: 0